@tailwind components;

@layer components {
    .dummy {
        @apply absolute top-0 left-0 bottom-0 right-0 p-4 flex justify-end items-end z-[1];
        background-color: #00000022;
        visibility: hidden;
    }

    .card {
        @apply relative shadow-md rounded-md p-4 hover:cursor-pointer h-fit overflow-hidden;

        &:hover {
            .dummy {
                visibility: visible;
                transition-duration: 500ms;
            }
        }
    }
}
