@tailwind components;

@layer components {
    .nav {
        @apply bg-main text-white p-4 fixed z-10 top-0 left-0 bottom-0 w-[240px];
        height: 100vh;
    }

    .head {
        @apply px-6 py-3 bg-main fixed z-10 top-0 right-0 left-[240px] flex justify-between;
        width: calc(100vw - 240px);
    }

    main {
        @apply absolute top-[64px] left-0 right-0 bottom-0 overflow-hidden overflow-y-auto;
        background-image: url('../assets/images/login_horizol.jpg');
        background-size: cover;
        height: calc(100vh - 64px);
    }

    main.active {
        @apply left-[240px] px-6 py-4;
        background: none;
        height: calc(100vh - 160px);
    }
}
