#user-action {
    ul {
        display: none;
        position: absolute;
        top: 105%;
        right: 0;
        color: white;
        text-align: center;
    }

    &:hover {
        ul {
            display: block
        }
    }
}