* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f2f2f2;
  margin: 0 10px;
}

.audio-player {
  background: #ffffff;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* audio info */
.audio-info {
  display: flex;
  gap: 20px;
}

.text {
  color: rgb(1, 1, 1);
}

.title {
  color: #000000;
  font-weight: 100;
  font-size: 32px;
  margin-bottom: 0;
  padding: 2px;
  line-height: 37px;
}

/* audio image */
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.audio-image {
  width: 300px;
  height: 300px;
  background: #1e1e1e;
}

.audio-icon {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #989898;
}

.audio-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* controls */
.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.controls button {
  padding: 20px;
}
.volume button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

button svg {
  font-size: 20px;
}

.volume {
  display: flex;
  align-items: center;
}

.volume button {
  margin: 0;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* time */
.time {
  color: #333;
  font-size: 13px;
  line-height: 46px;
}

.time.current {
  color: rgb(100, 32, 130);
}

/* Top bar */
.top__bar {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f2;
}

.top__bar a {
  color: inherit;
}

.top__bar p {
  margin: 0;
}

.container {
  width: 100%;
  border: 1px solid #333;
  padding: 10px;
  margin: auto auto;
}

.listSong {
  background: #ffffff;
}
.song {
  background: #ffffff;
}
